svg{
  /* background-color: #faebd7; */
  width: 100%;
  height: auto;
}

#tooltip{
  border-radius: 0.2em;
  /* color: rgb(240, 235, 235); */
  background-color: black;
}


@tailwind base;
@tailwind components;
@tailwind utilities;